.html , .site {
  height:100%;
  overflow: hidden;
}

.background {
  background-color: #FFFFFF;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.site-content {
  flex: 1;
  margin: 0;
  overflow-y: scroll;
  padding: 25px;
}

.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}

.Site-header,
.Site-footer {
    flex: none;
}

/* Header */
#header {
  position: absolute;
  background-color: #efefef;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.75em;
  flex: 0 0 auto;
}

.title {
  text-align: center;
  color: black;
  margin-top: 0px;
}

.nav {
  color: black;
  text-align: center;
  size: 150%;
}

.nav a:link , .home a:link {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #FFFFFF;
}

.nav a:visited , .home a:visited {
  color: #bababa;
}

/* Body */
.middle , .home {
  text-align: center;
  margin: auto;
  margin-top: 132px;
  margin-bottom: 0;
  color: #848484;
  width: 85%;
}

.home {
  width: 40%;
}

.welcome {
  margin-bottom: 10px;
  margin-top: -15px;
}

.divider{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  width: 33%;
  margin-bottom: .8em;
}

.col {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;

  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;

  -webkit-column-rule: 4px outset #efefef; /* Chrome, Safari, Opera */
  -moz-column-rule: 4px outset #efefef; /* Firefox */
  column-rule: 4px outset #efefef;

  margin-top: 40px;
}

.concerts , .KDIC , .events {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}


.concerts:hover , .KDIC:hover , .events:hover , 
.concerts:hover a, .KDIC:hover a, .events:hover a {
  color: #ffffff;
  background-color: #848484;
  text-decoration: none;
}

.concerts a , .KDIC a , .events a {
  color: #848484;
  text-decoration: none;
}

.concerts_image {
  width: 300px;
  height: 300px;
}

.kdic_image {
  width: 300px;
  height: 300px;
}

/* Contact Form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #848484;
}

input[type=submit]:hover {
  background-color: #f7f7f7;
}

.container {
  border-radius: 5px;
  background-color: #efefef;
  padding: 20px;
}

/* Footer */ 
#footer {
  width: 100%;
  background-color: #efefef;
  text-align: center;
  color: #bbb;
  font-size: 0.8em;
  letter-spacing: .25em;
  text-transform: uppercase;
}
