.background {
  background-color: #FFFFFF;
}

/* Header */
#header {
  position: absolute;
  background-color: #efefef;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.title {
  text-align: center;
  color: black;
  margin-top: 0px;
}

.nav {
  color: black;
  text-align: center;
  size: 150%;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

a:visited {
  color: #bababa;
}

/* Footer */ 

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#footer .copyright { 
  color: #bbb; 
  font-size: 0.8em; 
  letter-spacing: 0.25em; 
  margin-bottom: 0; 
  text-transform: uppercase; 
} 

